<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>

    <div class="btn-group" role="group" aria-label="...">
        <a href="https://github.com/CungCaiLin69" target="_blank"><button type="button" class="btn btn-default btn-lg"><i class="fa-brands fa-github"></i> Github</button></a>
        <a href="https://www.linkedin.com/in/muhammad-sendy-996802216/" target="_blank"><button type="button" class="btn btn-default btn-lg"><i class="fa-brands fa-linkedin"></i> LinkedIn</button></a>
        <a href="https://www.instagram.com/bigdudesap/" target="_blank"><button type="button" class="btn btn-default btn-lg"><i class="fa-brands fa-instagram"></i> Instagram</button></a>
    </div>

    <div class="background">
        <div class="container">
          <div class="screen">
            <div class="screen-header">
              <div class="screen-header-left">
                <div class="screen-header-button close"></div>
                <div class="screen-header-button maximize"></div>
                <div class="screen-header-button minimize"></div>
              </div>
              <div class="screen-header-right">
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
              </div>
            </div>
            <div class="screen-body">
              <div class="screen-body-item left">
                <div class="app-title">
                  <span>CONTACT</span>
                  <span>ME</span>
                </div>
                <div class="app-contact">CONTACT INFO : +62 811 1749 544</div>
              </div>
              <div class="screen-body-item">
                <div class="app-form">
                  <div class="app-form-group">
                    <input class="app-form-control" placeholder="NAME">
                  </div>
                  <div class="app-form-group">
                    <input class="app-form-control" placeholder="EMAIL">
                  </div>
                  <div class="app-form-group">
                    <input class="app-form-control" placeholder="CONTACT NO">
                  </div>
                  <div class="app-form-group message">
                    <input class="app-form-control" placeholder="MESSAGE">
                  </div>
                  <div class="app-form-group buttons">
                    <button class="app-form-button">CANCEL</button>
                    <a href="mailto:sendy.adriansyah17@gmail.com" target="_blank"><button class="app-form-button">SEND</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<%- include("partials/footer"); -%>
